html, body {
    height: 100%;
}

body {
    font: 30px Montserrat, sans-serif;
    line-height: 1.8;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 15px;
    margin-bottom: 15px;
    filter: invert(1);
}

#sep {
    height: 45px;
}

.margin {
    margin-bottom: 15px;
}

.content {
    font-family: 'Single Day', cursive;
}

.bg {
    background-color: #000000;
}

.bg-1 {
    color: #ffffff;
    /*background-image: linear-gradient(#ffffff, #ffffff, #ffffff, #cccccc, #888888, #444444, #000000, #000000);*/
}

.book a {
    color: #808080;
}

.book a:hover {
    color: #000000;
}

.card {
    color: #000000;
    text-align: left;
}

.card a {
    color: #808080;
}

.card a:hover {
    color: #000000;
}

.card-body {
    background-color: #ffffff;
}

.card-title {
    font-weight: 700;
    font-family: 'Hi Melody', cursive;
}

.card-subtitle {
    font-size: 13px;
    font-family: 'Combo', cursive;
}

.card-text {
    line-height: 1;
    font-size: 20px;
}

.card-link {
    font-size: 25px;
    font-family: 'Hi Melody', cursive;
}

.container {
    font-family: 'Nanum Pen Script', cursive;
}

.title {
    font-family: 'Hi Melody', cursive;
    font-size: 45px;
}

.center {
    text-align: center;
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
    font-family: 'Gochi Hand', cursive;
}

.container-fluid1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: 'Gochi Hand', cursive;
}

.ownerName {
    font-size: 30px;
}

.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Gochi Hand', cursive;
    color: #ffffff;
}

.nav-link {
    color: #808080;
}
.navbar-nav li a:hover {
    color: #ffffff !important;
}